Repository osbuild/image-builder-frontend, pull requests merged in 2024-04, with the labels that each got.

#1863 V2Wizard: Update "Too many results" copy
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
  src/test/Components/CreateImageWizard/CreateImageWizard.content.test.js
  src/test/Components/CreateImageWizardV2/CreateImageWizard.content.test.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1872 V2Wizard: Center messages in packages table (HMS-2781)
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
Labels: 🌟 best practice

#1871 V1Wizard: Add full bottom pagination to Repositories
  src/Components/CreateImageWizard/formComponents/Repositories.js
  src/test/Components/CreateImageWizard/CreateImageWizard.content.test.js
Labels: :white_check_mark: ready for review, :baby_bottle: simple

#1873 V2Wizard: Update copy based on SPUR
  src/Components/CreateImageWizardV2/steps/Details/index.tsx
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemAutomaticPartitionInformation.tsx
  src/Components/CreateImageWizardV2/steps/FileSystem/index.tsx
  src/Components/CreateImageWizardV2/steps/ImageOutput/index.tsx
  src/Components/CreateImageWizardV2/steps/Oscap/index.tsx
  src/Components/CreateImageWizardV2/steps/Packages/index.tsx
  src/Components/CreateImageWizardV2/steps/Registration/index.tsx
  src/Components/CreateImageWizardV2/steps/Repositories/index.tsx
Labels: SPUR, :white_check_mark: ready for review, :mage_man: V2 Wizard

#1869 V2Wizard: Add full bottom pagination to Repositories and Packages
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
  src/Components/CreateImageWizardV2/steps/Repositories/Repositories.tsx
  src/test/Components/CreateImageWizardV2/CreateImageWizard.content.test.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1874 Blueprints: Update `Delete blueprint` modal copy
  src/Components/Blueprints/DeleteBlueprintModal.tsx
Labels: SPUR, :white_check_mark: ready for review, 📄 blueprints

#1886 Blueprints: Update button in header
  src/Components/sharedComponents/ImageBuilderHeader.tsx
Labels: :white_check_mark: ready for review, 📄 blueprints

#1887 Blueprints: No Build Image button without a blueprint
  src/Components/ImagesTable/ImagesTableToolbar.tsx
Labels: :white_check_mark: ready for review, 📄 blueprints

#1888 Blueprints: Rename Clear selection button and center it
  src/Components/Blueprints/BlueprintsSideBar.tsx
Labels: :white_check_mark: ready for review, 📄 blueprints

#1894 V2Wizard: Fix VMware capitalisation
  src/Components/CreateImageWizardV2/steps/ImageOutput/TargetEnvironment.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1902 WizardV2: Filesystem draggable mount point
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemConfiguration.tsx
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemTable.tsx
  src/store/wizardSlice.ts
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1875 fix(HMS-3850): V2Wizard:use menu toggle for save and build
  src/Components/CreateImageWizardV2/steps/Review/Footer/CreateDropdown.tsx
  src/Components/CreateImageWizardV2/steps/Review/Footer/EditDropdown.tsx
  src/Components/CreateImageWizardV2/steps/Review/Footer/Footer.tsx
  src/test/Components/CreateImageWizardV2/CreateImageWizard.test.tsx
  src/test/Components/CreateImageWizardV2/wizardTestUtils.tsx
Labels: :mage_man: V2 Wizard

#1910 V2Wizard: Update create/edit button copy
  src/Components/CreateImageWizardV2/steps/Review/Footer/CreateDropdown.tsx
  src/Components/CreateImageWizardV2/steps/Review/Footer/EditDropdown.tsx
  src/test/Components/CreateImageWizardV2/CreateImageWizard.test.tsx
  src/test/Components/CreateImageWizardV2/wizardTestUtils.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1901 test: Re-enable FSC tests
  src/test/Components/CreateImageWizardV2/CreateImageWizard.azure.test.tsx
  src/test/Components/CreateImageWizardV2/CreateImageWizard.content.test.tsx
  src/test/Components/CreateImageWizardV2/CreateImageWizard.test.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1918 V2 Wizard: Add feature flag for import/export (HMS-3906)
  src/Components/Blueprints/BlueprintActionsMenu.tsx
  src/Components/sharedComponents/ImageBuilderHeader.tsx
Labels: 🌟 best practice

#1833 V2 Wizard: Add blueprints exporting (HMS-3687)
  api/config/imageBuilder.ts
  src/Components/Blueprints/BlueprintActionsMenu.tsx
  src/store/imageBuilderApi.ts
Labels: :white_check_mark: ready for review, 📄 blueprints, 🌟 best practice

#1935 V2 Wizard: Add custom file system to request customizations (HMS-3690)
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemConfiguration.tsx
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemTable.tsx
  src/Components/CreateImageWizardV2/utilities/requestMapper.tsx
  src/store/wizardSlice.ts
  src/test/Components/CreateImageWizardV2/steps/FileSystemConfiguration/FileSystemConfiguration.test.tsx
Labels: :white_check_mark: ready for review, 🌟 best practice

#1940 V2Wizard: Update Registration copy
  src/Components/CreateImageWizardV2/steps/Registration/index.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1946 Blueprints: Remove icon from "Create blueprint" button
  src/Components/sharedComponents/ImageBuilderHeader.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, 📄 blueprints

#1948 Blueprints: Update Import modal padding
  src/Components/Blueprints/ImportBlueprintModal.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, 📄 blueprints

#1942 LandingPage: Remove "New" label from Immutable tab
  src/Components/LandingPage/LandingPage.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple

#1949 WizardV2: Validate steps through redux state (HMS-3801)
  src/Components/CreateImageWizardV2/CreateImageWizard.tsx
  src/Components/CreateImageWizardV2/ValidatedTextInput.tsx
  src/Components/CreateImageWizardV2/steps/Details/index.tsx
  src/Components/CreateImageWizardV2/steps/Review/Footer/CreateDropdown.tsx
  src/Components/CreateImageWizardV2/steps/Review/Footer/EditDropdown.tsx
  src/Components/CreateImageWizardV2/steps/Review/Footer/Footer.tsx
  src/Components/CreateImageWizardV2/utilities/requestMapper.tsx
  src/store/wizardSlice.ts
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard, 🌟 best practice

#1941 ImagesTable: Update column headers
  src/Components/ImagesTable/ImagesTable.tsx
  src/test/Components/ImagesTable/ImagesTable.test.js
Labels: :white_check_mark: ready for review, :baby_bottle: simple, 📄 blueprints

#1945 V2Wizard: Select a repository when added from recommendations
  src/Components/CreateImageWizardV2/steps/Repositories/Repositories.tsx
  src/Components/CreateImageWizardV2/steps/Repositories/index.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1963 V2Wizard: Add recommended repositories to compose request
  src/Components/CreateImageWizardV2/utilities/requestMapper.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1966 V2Wizard: Update repo removal alert and modal
  src/Components/CreateImageWizardV2/steps/Repositories/Repositories.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1970 V2Wizard: Update save button
  src/Components/CreateImageWizardV2/steps/Review/Footer/Footer.tsx
Labels: :baby_bottle: simple, :mage_man: V2 Wizard

#1969 V2Wizard: Update wording on repo removal modal in Edit mode
  src/Components/CreateImageWizardV2/steps/Repositories/Repositories.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1965 V2 Wizard: Fix OpenSCAP step (HMS-2781)
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemPartition.tsx
  src/Components/CreateImageWizardV2/steps/Oscap/Oscap.tsx
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
  src/Components/CreateImageWizardV2/utilities/requestMapper.tsx
  src/store/hooks.ts
  src/store/wizardSlice.ts
  src/test/Components/CreateImageWizard/CreateImageWizard.compliance.test.js
  src/test/Components/CreateImageWizardV2/CreateImageWizard.compliance.test.tsx
  src/test/Components/CreateImageWizardV2/steps/Oscap/Oscap.test.tsx
  src/test/fixtures/oscap.ts
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1975 V2 Wizard: Add AWS tests (HMS-2781)
  src/test/Components/CreateImageWizardV2/steps/TargetEnvironment/Aws/AwsTarget.test.tsx
Labels: 🌟 best practice

#1976 V2 Wizard: Add Azure tests (HMS-2781)
  src/test/Components/CreateImageWizardV2/steps/TargetEnvironment/Azure/AzureTarget.test.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, 🌟 best practice

#1979 V2 Wizard: Add Blueprints title to sidebar (HMS-2781)
  src/Components/LandingPage/LandingPage.tsx
Labels: 🌟 best practice

#1978 V2Wizard: Remove "Recreate" option for expired images
  src/Components/ImagesTable/Instance.tsx
Labels: :mage_man: V2 Wizard

#1981 V2 Wizard: Disable back on first step (HMS-2781)
  src/Components/CreateImageWizardV2/CreateImageWizard.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard, 🌟 best practice

#1983 V2Wizard: Show selected packages in included repos
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
Labels: SPUR, :white_check_mark: ready for review, :mage_man: V2 Wizard

#1988 V2Wizard: Add a specific empty state for "Other" toggle
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
Labels: SPUR, :white_check_mark: ready for review, :mage_man: V2 Wizard

#1990 V2Wizard: Re-use activation popover for Review step
  src/Components/CreateImageWizardV2/steps/Registration/ActivationKeysList.tsx
  src/Components/CreateImageWizardV2/steps/Review/ReviewStepTextLists.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1989 V2Wizard: Fix VMware popovers
  src/Components/CreateImageWizardV2/steps/ImageOutput/TargetEnvironment.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1994 V2Wizard: Update copy on empty state
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1993 WizardV2: fix details validation on Edit
  src/store/wizardSlice.ts
Labels: :white_check_mark: ready for review

#1995 V2Wizard: Fix padding around registration options
  src/Components/CreateImageWizardV2/steps/Registration/Registration.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#2000 V2Wizard: Add masked services to the "Disabled services" code block
  src/Components/CreateImageWizardV2/steps/Oscap/OscapProfileInformation.tsx
  src/test/Components/CreateImageWizardV2/CreateImageWizard.compliance.test.tsx
  src/test/Components/CreateImageWizardV2/steps/Oscap/Oscap.test.tsx
  src/test/fixtures/oscap.ts
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#2002 V2Wizard: Disable stig and stig_gui
  src/Components/CreateImageWizardV2/steps/Oscap/Oscap.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#2003 V2Wizard: Convert index.js to .tsx
  src/Components/CreateImageWizardV2/index.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1996 V2Wizard: Fix padding and size of `<HelpIcon>` button
  src/Components/CreateImageWizardV2/steps/Oscap/Oscap.tsx
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
  src/Components/CreateImageWizardV2/steps/Registration/ActivationKeyInformation.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#1997 V2Wizard: Deduplicate minimum size popover and set width
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemTable.tsx
  src/Components/CreateImageWizardV2/steps/Review/ReviewStepTextLists.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#1999 ImagesTable: Update empty state for Blueprints
  src/Components/ImagesTable/EmptyState.tsx
Labels: SPUR, :white_check_mark: ready for review, :mage_man: V2 Wizard

#2004 ImagesTable: Update empty state for blueprint without images
  src/Components/ImagesTable/EmptyState.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, 📄 blueprints

#2011 constants: Move URLs to constants
  src/Components/CreateImageWizard/CreateImageWizard.js
  src/Components/CreateImageWizard/formComponents/ActivationKeys.js
  src/Components/CreateImageWizard/formComponents/CentOSAcknowledgement.js
  src/Components/CreateImageWizard/formComponents/FileSystemConfiguration.js
  src/Components/CreateImageWizard/formComponents/Registration.js
  src/Components/CreateImageWizard/formComponents/ReleaseLifecycle.tsx
  src/Components/CreateImageWizard/steps/fileSystemConfiguration.js
  src/Components/CreateImageWizard/steps/msAzure.js
  src/Components/CreateImageWizard/steps/registration.js
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemAutomaticPartitionInformation.tsx
  src/Components/CreateImageWizardV2/steps/FileSystem/FileSystemConfiguration.tsx
  src/Components/CreateImageWizardV2/steps/ImageOutput/CentOSAcknowledgement.tsx
  src/Components/CreateImageWizardV2/steps/ImageOutput/ReleaseLifecycle.tsx
  src/Components/CreateImageWizardV2/steps/Oscap/index.tsx
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
  src/Components/CreateImageWizardV2/steps/Registration/ActivationKeysList.tsx
  src/Components/CreateImageWizardV2/steps/Registration/RegisterLaterInformation.tsx
  src/Components/CreateImageWizardV2/steps/Registration/Registration.tsx
  src/Components/CreateImageWizardV2/steps/TargetEnvironment/Azure/index.tsx
  src/Components/ImagesTable/EmptyState.tsx
  src/Components/ImagesTable/Instance.tsx
  src/Components/LandingPage/LandingPage.tsx
  src/Components/edge/ImagesTable.js
  src/Components/sharedComponents/DocumentationButton.js
  src/Components/sharedComponents/ImageBuilderHeader.tsx
  src/constants.js
Labels: :white_check_mark: ready for review

#2013 V2Wizard: Show packages only with a search term
  src/Components/CreateImageWizardV2/steps/Packages/Packages.tsx
Labels: :white_check_mark: ready for review, :mage_man: V2 Wizard

#2023 V2Wizard: Consistent capitalisation
  src/Components/CreateImageWizardV2/steps/Registration/RegisterLaterInformation.tsx
  src/Components/CreateImageWizardV2/steps/Review/ReviewStepTextLists.tsx
  src/Components/CreateImageWizardV2/steps/TargetEnvironment/Aws/AwsAccountId.tsx
  src/Components/CreateImageWizardV2/steps/TargetEnvironment/Aws/AwsSourcesSelect.tsx
  src/Components/CreateImageWizardV2/steps/TargetEnvironment/Aws/index.tsx
  src/Components/CreateImageWizardV2/steps/TargetEnvironment/Azure/AzureSourcesSelect.tsx
  src/Components/CreateImageWizardV2/steps/TargetEnvironment/Azure/index.tsx
Labels: :white_check_mark: ready for review, :baby_bottle: simple, :mage_man: V2 Wizard

#2026 ImagesTable: show detailed time when hovering over the "Updated" column
  src/Components/ImagesTable/ImagesTable.tsx
  src/Utilities/time.ts
Labels: :wrench: needs work
